header {
  font-family: $main-font-family;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #252525ed;

  a {
    text-decoration: none;
  }

  h3 {
    font-family: $hero-font-family;
    font-size: pxToRem(22px);
    color: white;
  }

  nav {
    padding: $spacing-16;
    @include flex-center-vert;
    justify-content: space-between;
    backdrop-filter: blur(2px);

    .hamburger {
      display: none;
      background: transparent;
      border: none;
    }

    ul {
      display: flex;
      gap: $spacing-32;
    }

    button {
      background: transparent;
      border: none;
      color: white;
      font-size: pxToRem(16px);
    }
  }

  .action-btn {
    border: none;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 55px;
    padding: $spacing-08 $spacing-16;
    font-weight: 500;
    font-size: pxToRem(16px);
  }
}

@media (max-width: 700px) {
  header {
    nav {
      flex-direction: column;
      align-items:  flex-start;
      justify-content: center;

      .navbar-links {
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: #252525;
        right: 0;
        top: 0;
        height: 100vh;
        width: 80%;
      }
      .navbar-links.active {
        display: flex;
      }

      ul {
        flex-direction: column;
        align-items: flex-start;
        gap: $spacing-56;
        font-size: pxToRem(30px);
      }
      
      .hamburger {
        position: absolute;
        right: 16px;
        top: 16px;
        display: flex;
        cursor: pointer;

        img {
          width: 30px;
        }
      }
    }
    .action-btn {
      font-size: pxToRem(30px);
      padding: $spacing-16 $spacing-24;
    }
  }
}