.hero-container {
  font-family: $hero-font-family;
  font-size: pxToRem(37px);
  text-align: center;
  margin-top: $spacing-64;
  position: relative;
  width: 370px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px red;
  
  .hero-name {
    position: relative;
    margin-bottom: $spacing-08;
    z-index: 1;

  }
  .hero-role {
    position: relative;
    z-index: 3;
  }

  .icon {
    position: absolute;
    @include flex-center;
    border-radius: 8px;
    backdrop-filter: blur(2px);
    padding: 6px;
    
    img {
      width: 20px;
    }
  }

  // Icon backgrounds & positioning  
  .html-icon {
    background: $html-bg-colour;
    bottom: 25px;
    left: 0px;
    z-index: 4;
    animation: float 4s ease-in-out 0s infinite forwards;
  }

  .css-icon {
    background: $css-bg-colour;
    bottom: -25px;
    left: 55px;
    z-index: 4;
    animation: float 4s ease-in-out 2s infinite forwards;
  }

  .js-icon {
    background: $js-bg-colour;
    bottom: 15px;
    left: 100px;
    z-index: 2;
    animation: float 4s ease-in-out 1s infinite forwards;
  }

  .sass-icon {
    background: $sass-bg-colour;
    bottom: -25px;
    left: 160px;
    z-index: 4;
    animation: float 4s ease-in-out 1.5s infinite forwards;
  }

  .react-icon {
    background: $react-bg-colour;
    bottom: 20px;
    right: 135px;
    z-index: 2;
    animation: float 4s ease-in-out 0s infinite forwards;
  }

  .figma-icon {
    background: $figma-bg-colour;
    bottom: -25px;
    right: 75px;
    z-index: 4;
    animation: float 4s ease-in-out 0.8s infinite forwards;
  }

  .cypress-icon {
    background: $cypress-bg-colour;
    bottom: 15px;
    right: 30px;
    z-index: 2;
    animation: float 4s ease-in-out 1.2s infinite forwards;
  }
}

@media (min-width: 500px) {
  .hero-container {
    font-size: pxToRem(47px);
    width: 490px;
    margin-top: 200px;

    .icon {
      padding: 8px;
      img {
        width: 25px;
      }
    }

    // Icon positioning at 500px
    .html-icon {
      bottom: 30px;
    }

    .css-icon {
      bottom: -30px;
      left: 80px;
    }

    .js-icon {
      bottom: 25px;
      left: 135px;
    }

    .sass-icon {
      bottom: -30px;
      left: 210px;
    }

    .react-icon {
      bottom: 25px;
      right: 175px;
    }

    .figma-icon {
      bottom: -30px;
      right: 100px;
    }

    .cypress-icon {
      bottom: 25px;
      right: 50px;
    }
  }
}

@media (min-width: 700px) {
  .hero-container {
    font-size: pxToRem(65px);
    width: 690px;

    // Icon positioning at 700px
    .icon {
      padding: 10px;
      img {
        width: 40px;
      }
    }

    .html-icon {
      bottom: 45px;
    }

    .css-icon {
      bottom: -45px;
      left: 115px;
    }

    .js-icon {
      bottom: 35px;
      left: 200px;
    }

    .sass-icon {
      bottom: -45px;
      left: 300px;
    }

    .react-icon {
      bottom: 35px;
      right: 250px;
    }

    .figma-icon {
      bottom: -45px;
      right: 150px;
    }

    .cypress-icon {
      bottom: 35px;
      right: 80px;
    }
  }
}

// Animations
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}