@font-face {
  font-family: 'Comico-Regular';
  src: url('/public/fonts/Comico-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.interests-container {
  @include flex-center;
  gap: $spacing-16;
  margin: $spacing-56 0;

  > p {
    font-size: clamp(pxToRem(30px), 10vw, pxToRem(200px));
  }

  .icon-container {
    img {
      width: 100px;
    }

    .interests-name {
      font-family: 'Comico-Regular';
      font-size: clamp(pxToRem(16px), 3vw, pxToRem(28px));
      text-align: center;
    }
  }
}

@media (min-width: 900px) {
  .interests-container {
    margin: $spacing-120 0;
    gap: $spacing-32;

    .icon-container {
      img {
        width: 200px;
      }
    }
  }
}

@media (min-width: 1800px) {
  .interests-container {
    margin: 200px 0;
    gap: $spacing-56;
  }
}
