@import '../components/projects/gamesinventory';

.projects-grid-container {
  margin-top: $spacing-40;

  a {
    text-decoration: none;
    @include flex-center-vert;
    gap: $spacing-08;
  }

  .links-container {
    @include flex-center-horiz;
    gap: $spacing-24;
    margin-top: $spacing-32;
  }

  h2 {
    font-weight: $bold;
    font-size: clamp(pxToRem(25px), 4vw, pxToRem(64px));
    margin-top: $spacing-32;
    margin-bottom: $spacing-16;
  }
 
  p {
    font-size: clamp(pxToRem(15px), 2vw, pxToRem(32px));
    padding: 0px $spacing-40;
  }
}
