@import "../components/projects/gamesinventory";
@import "../components/projects/hoodies";
@import "../components/projects/weatherapp";

.projects-grid-container {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-40;
  justify-content: center;

  a {
    text-decoration: none;
    @include flex-center-vert;
    gap: $spacing-08;
  }

  .links-container {
    @include flex-center-horiz;
    gap: $spacing-24;
    margin-top: $spacing-32;
  }

  h2 {
    font-weight: $bold;
    font-size: clamp(pxToRem(25px), 3.2vw, pxToRem(64px));
    margin-top: $spacing-32;
    margin-bottom: $spacing-16;
  }
 
  p {
    font-size: clamp(pxToRem(15px), 2vw, pxToRem(30px));
    padding: 0px $spacing-40;
  }

  h2, p {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .projects-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: $spacing-16;
    padding-left: $spacing-24;
    padding-right: $spacing-24;
  }
}

@media (min-width: 1500px) {
  .projects-grid-container {
    h2 {
      margin-top: $spacing-56;
      margin-bottom: $spacing-32;
    }

    p {
      margin: 0 auto;
      width: 530px;
    }

    .links-container {
      font-size: pxToRem(25px);
    }
  }
}

@media (min-width: 2500px) {
  .projects-grid-container {
    grid-template-columns: 1200px 1200px;
  }
}