@import '../components/projects/gamesinventory';
@import "../components/projects/hoodies";

.projects-grid-container {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-40;
  justify-content: center;

  a {
    text-decoration: none;
    @include flex-center-vert;
    gap: $spacing-08;
  }

  .links-container {
    @include flex-center-horiz;
    gap: $spacing-24;
    margin-top: $spacing-32;
  }

  h2 {
    font-weight: $bold;
    font-size: clamp(pxToRem(25px), 4vw, pxToRem(64px));
    margin-top: $spacing-32;
    margin-bottom: $spacing-16;
  }
 
  p {
    font-size: clamp(pxToRem(15px), 2vw, pxToRem(32px));
    padding: 0px $spacing-40;
  }

  h2, p {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .projects-grid-container {
    display: grid;
    grid-template-columns: 50vw 50vw;
    gap: $spacing-08;

  }
}

@media (min-width: 1900px) {
  .projects-grid-container {
    grid-template-columns: 940px 940px;
    grid-template-rows: 800px 800px
  }
}