.modal-container {
  position: fixed;
  background-color: #000000a4;
  top: 0;
  z-index: 105;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .x-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    background: transparent;
    border: none;

    img {
      width: 20px;
    }
  }

  .modal {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 106;
    overflow: auto;

    h2 {
      padding: $spacing-24 $spacing-24 0px $spacing-24;
      font-size: clamp(pxToRem(22px), 6vw, pxToRem(54px));
      font-weight: $semi-bold;
    }

    .tech-stack-container {
      padding: $spacing-16 $spacing-24;
      display: flex;
      gap: $spacing-16;
      flex-wrap: wrap;
      font-size: clamp(pxToRem(16px), 2vw, pxToRem(23px));
    }

    .skill-container {
      background-color: #bdd3c7;
      padding: 6px $spacing-16;
      border-radius: 20px;
      text-align: center;
      color: rgb(84, 84, 84);
    }

    .underline {
      width: 96%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
      height: 2px;
      background: #ececec;
    }

    .modal-content-container {
      display: flex;
      flex-direction: column;
      padding: $spacing-24;

      video {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $spacing-32;
        width: 80vw;
        height: auto;
      }

      h3 {
        margin-bottom: $spacing-08;
        font-size: clamp(pxToRem(22px), 4vw, pxToRem(40px));
        font-weight: $medium;
      }

      p,
      li {
        font-size: clamp(pxToRem(16px), 4vw, pxToRem(25px));
        line-height: $line-height;
      }

      li {
        margin-left: $spacing-24;
        margin-top: $spacing-16;
        list-style-position: outside;
      }

      .summary-container,
      .learned-container {
        margin: $spacing-32 0px;
      }

      .features-container {
        ul {
          list-style: inside;
          li {
            margin-bottom: $spacing-08;
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .modal-container {
    .modal {
      max-width: 1200px;
      height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .x-btn {
        img {
          width: 40px;
        }
      }

      h2 {
        padding: $spacing-56 $spacing-56 0px $spacing-56;
      }

      .tech-stack-container {
        padding: $spacing-32 60px;
        margin-bottom: $spacing-24;
      }

      .skill-container {
        padding: $spacing-08 $spacing-16;
      }

      .modal-content-container {
        padding: 0px;

        h3 {
          margin-bottom: $spacing-40;
        }

        .summary-container {
          margin: $spacing-24 0px $spacing-72 0px;
        }
        .features-container {
          margin-top: $spacing-72;
        }
        .learned-container {
          margin: $spacing-56 0px;
        }

        .modal-left-container {
          padding: $spacing-08 $spacing-56;
        }

        video {
          width: 70%;
          height: 400px;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .modal-container {
    .modal {
      max-width: 1500px;
      max-height: 2000px;

      .modal-content-container {
        video {
          width: 80%;
          height: 630px;
        }
      }
    }
  }
}
