.games-inventory-card {
  background: #000000;
  color: white;
  padding: $spacing-08;
  
  .links-container {
    .visit-website-link {
      color: #DD6031;
    }
    .github-link {
      color: #FFF;
    }
  }

  // SwiperJS styling
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: auto;
  }

  .swiper-slide img {
    display: block;
    width: 100px;
  }

  .swiper-wrapper{
    -webkit-transition-timing-function:linear; 
    -o-transition-timing-function:linear;
    transition-timing-function:linear; 
  }
}

@media (min-width: 700px) {
  .games-inventory-card {
    .swiper-slide {
      width: 150px;
    }

    .swiper-slide img {
      width: 150px;
    }
  }
}

@media (min-width: 1000px) {
  .games-inventory-card {

  }
}