.hoodies-container {
  background: #282828;
  overflow: hidden;
  position: relative;
  padding-top: $spacing-08;
}

.hoodies-card {
  color: white;

  .links-container {
    .visit-website-link {
      color: #ADA6A6;
    }
    .github-link {
      color: #FFF;
    }

    button {
      color: white;
    }
  }

  .hoodies-img {
    position: absolute;
    bottom: -5px;
    right: 22px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    padding-top: $spacing-08;
    animation: skew 10s ease-in-out 0s infinite forwards;
    transition: width 300ms ease-in-out;
  }
}

@media (min-width: 500px) {
  .hoodies-card {
    .hoodies-img {
      width: 270px;
      right: 20px;
    }
  }
}

@media (min-width: 600px) {
  .hoodies-card {
    .hoodies-img {
      width: 350px;
      right: 25px;
    }
  }
}

@media (min-width: 1000px) {
  .hoodies-card {
    .hoodies-img {
      width: 270px;
    }
  }
}

@media (min-width: 1300px) {
  .hoodies-card {
    .hoodies-img {
      width: 350px;
    }
  }
}

@media (min-width: 1800px) {
  .hoodies-card {
    .hoodies-img {
      width: 400px;
      right: 50px;
    }
  }
}

@media (min-width: 1900px) {
  .hoodies-card {
    .hoodies-img {
      width: 420px;
      right: 30px;
    }
  }
}

// Animations
@keyframes skew {
  0% {
    transform: skewY(0);
  }

  20% {
    transform: skewY(2deg);
  }

  40% {
    transform: skewY(-2deg);
  }

  60% {
    transform: skewY(2deg);
  }

  80% {
    transform: skewY(-2deg);
  }

  100% {
    transform: skewY(0);
  }
}