.hoodies-card {
  background: #282828;
  color: white;
  padding-top: $spacing-08;
  position: relative;
  overflow: hidden;

  .links-container {
    .visit-website-link {
      color: #ADA6A6;
    }
    .github-link {
      color: #FFF;
    }
  }

  .hoodies-img {
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-top: $spacing-08;
    animation: skew 10s ease-in-out 0s infinite forwards;
  }
}

@media (min-width: 1000px) {
  .hoodies-card {
    .hoodies-img {
      width: 250px;
    }
  }
}

@media (min-width: 1600px) {
  .hoodies-card {
    .hoodies-img {
      width: 300px;
    }
  }
}

@media (min-width: 1800px) {
  .hoodies-card {
    .hoodies-img {
      width: 400px;
      right: 50px;
    }
  }
}

@media (min-width: 1900px) {
  .hoodies-card {
    .hoodies-img {
      width: 420px;
      right: 60px;
    }
  }
}

// Animations
@keyframes skew {
  0% {
    transform: skewY(0);
  }

  20% {
    transform: skewY(2deg);
  }

  40% {
    transform: skewY(-2deg);
  }

  60% {
    transform: skewY(2deg);
  }

  80% {
    transform: skewY(-2deg);
  }

  100% {
    transform: skewY(0);
  }
}