
.weather-app-card {
  position: relative;
  color: white;
  transition: 1s ease-in-out;

  .links-container {
    .visit-website-link {
      color: #444444;
    }
    .github-link {
      color: #FFF;
    }
  }
  .weather-app-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-top: 50px;
  }
}

  // BG colours
  .bg-morning {
    background-color:#00B3EC;
  }
  .bg-afternoon {
    background-color:#80A9F4;
  }
  .bg-evening {
    background-color: rgba(254, 185, 83, 0.72);
  }
  .bg-night {
    background-color:rgba(10, 41, 109, 0.55);
  }
  .bg-midnight {
    background:rgba(42, 49, 64, 0.55);
  }