@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Michroma&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1900px;
  margin: 0 auto;
}

@media (max-width: 1890px) {
  .container {
    width: auto;
  }
}
header {
  padding: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
}
header img {
  width: 60px;
}
header button {
  display: none;
  border: none;
  background-color: black;
  color: white;
  border-radius: 55px;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 0.9375rem;
}

@media (min-width: 700px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header img {
    width: 65px;
  }
  header button {
    display: block;
  }
}
@media (min-width: 1200px) {
  header {
    padding: 32px 50px;
  }
  header img {
    width: 80px;
  }
  header button {
    padding: 16px 32px;
    font-size: 1.375rem;
  }
}
.hero-container {
  font-size: 2.3125rem;
  text-align: center;
  margin-top: 64px;
  position: relative;
  width: 370px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero-container .hero-name, .hero-container .hero-role {
  font-family: "Michroma", sans-serif;
}
.hero-container .hero-name {
  position: relative;
  margin-bottom: 8px;
  z-index: 1;
}
.hero-container .hero-role {
  position: relative;
  z-index: 3;
}
.hero-container .icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 6px;
}
.hero-container .icon img {
  width: 20px;
}
.hero-container .html-icon {
  background: linear-gradient(45deg, rgba(255, 218, 202, 0.19) 5.65%, rgba(241, 101, 41, 0.85) 94.35%);
  bottom: 25px;
  left: 0px;
  z-index: 4;
  animation: float 4s ease-in-out 0s infinite forwards;
}
.hero-container .css-icon {
  background: linear-gradient(45deg, rgba(41, 101, 241, 0.59) 5.65%, rgba(255, 255, 255, 0.2) 94.35%);
  bottom: -25px;
  left: 55px;
  z-index: 4;
  animation: float 4s ease-in-out 2s infinite forwards;
}
.hero-container .js-icon {
  background: linear-gradient(45deg, rgba(222, 215, 155, 0.2) 5.65%, rgba(247, 223, 30, 0.91) 94.35%);
  bottom: 15px;
  left: 100px;
  z-index: 2;
  animation: float 4s ease-in-out 1s infinite forwards;
}
.hero-container .sass-icon {
  background: linear-gradient(45deg, rgba(205, 103, 153, 0.53) 5.65%, rgba(255, 255, 255, 0.2) 94.35%);
  bottom: -25px;
  left: 160px;
  z-index: 4;
  animation: float 4s ease-in-out 1.5s infinite forwards;
}
.hero-container .react-icon {
  background: linear-gradient(45deg, #D6D6D6 5.65%, rgba(208, 245, 255, 0.2) 94.35%);
  bottom: 20px;
  right: 135px;
  z-index: 2;
  animation: float 4s ease-in-out 0s infinite forwards;
}
.hero-container .figma-icon {
  background: linear-gradient(44.58deg, rgba(162, 89, 255, 0.14) 7.05%, rgba(162, 89, 255, 0.61) 94.35%);
  bottom: -25px;
  right: 75px;
  z-index: 4;
  animation: float 4s ease-in-out 0.8s infinite forwards;
}
.hero-container .cypress-icon {
  background: linear-gradient(45deg, #6FD3A7 5.65%, rgba(255, 255, 255, 0.2) 94.35%);
  bottom: 15px;
  right: 30px;
  z-index: 2;
  animation: float 4s ease-in-out 1.2s infinite forwards;
}

.hero-recent-work-container {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  text-align: center;
  margin-top: 120px;
}
.hero-recent-work-container img {
  width: 30px;
  margin-top: 16px;
  cursor: pointer;
}

@media (min-width: 500px) {
  .hero-container {
    font-size: 2.9375rem;
    width: 490px;
  }
  .hero-container .icon {
    padding: 8px;
    border-radius: 9px;
  }
  .hero-container .icon img {
    width: 25px;
  }
  .hero-container .html-icon {
    bottom: 30px;
  }
  .hero-container .css-icon {
    bottom: -30px;
    left: 80px;
  }
  .hero-container .js-icon {
    bottom: 25px;
    left: 135px;
  }
  .hero-container .sass-icon {
    bottom: -30px;
    left: 210px;
  }
  .hero-container .react-icon {
    bottom: 25px;
    right: 175px;
  }
  .hero-container .figma-icon {
    bottom: -30px;
    right: 100px;
  }
  .hero-container .cypress-icon {
    bottom: 25px;
    right: 50px;
  }
}
@media (min-width: 700px) {
  .hero-container {
    font-size: 4.0625rem;
    width: 690px;
  }
  .hero-container .icon {
    padding: 10px;
    border-radius: 13px;
  }
  .hero-container .icon img {
    width: 40px;
  }
  .hero-container .html-icon {
    bottom: 45px;
  }
  .hero-container .css-icon {
    bottom: -45px;
    left: 115px;
  }
  .hero-container .js-icon {
    bottom: 35px;
    left: 200px;
  }
  .hero-container .sass-icon {
    bottom: -45px;
    left: 300px;
  }
  .hero-container .react-icon {
    bottom: 35px;
    right: 250px;
  }
  .hero-container .figma-icon {
    bottom: -45px;
    right: 150px;
  }
  .hero-container .cypress-icon {
    bottom: 35px;
    right: 80px;
  }
}
@media (min-width: 1200px) {
  .hero-container {
    font-size: 6.875rem;
    width: 1190px;
    margin-top: 150px;
  }
  .hero-container .icon {
    padding: 16px;
    border-radius: 20px;
  }
  .hero-container .icon img {
    width: 60px;
  }
  .hero-container .html-icon {
    bottom: 65px;
  }
  .hero-container .css-icon {
    bottom: -70px;
    left: 210px;
  }
  .hero-container .js-icon {
    bottom: 55px;
    left: 340px;
  }
  .hero-container .sass-icon {
    bottom: -70px;
    left: 520px;
  }
  .hero-container .react-icon {
    bottom: 55px;
    right: 440px;
  }
  .hero-container .figma-icon {
    bottom: -70px;
    right: 270px;
  }
  .hero-container .cypress-icon {
    bottom: 55px;
    right: 150px;
  }
  .hero-recent-work-container {
    font-size: 2rem;
    margin-top: 200px;
  }
  .hero-recent-work-container img {
    width: 50px;
  }
}
@media (min-width: 1600px) {
  .hero-container {
    font-size: 8.75rem;
    width: 1590px;
  }
  .hero-container .icon {
    padding: 22px;
    border-radius: 25px;
  }
  .hero-container .icon img {
    width: 74px;
  }
  .hero-container .html-icon {
    bottom: 80px;
    left: 40px;
  }
  .hero-container .css-icon {
    bottom: -90px;
    left: 290px;
  }
  .hero-container .js-icon {
    bottom: 80px;
    left: 470px;
  }
  .hero-container .sass-icon {
    bottom: -90px;
    left: 690px;
  }
  .hero-container .react-icon {
    bottom: 80px;
    right: 610px;
  }
  .hero-container .figma-icon {
    bottom: -90px;
    right: 380px;
  }
  .hero-container .cypress-icon {
    bottom: 80px;
    right: 210px;
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}